.monkey-trigger {
  position: fixed;
  height: 10px;
  width: 10px;
  top: 0;
  right: 0;
  z-index: 10000000000000000; }

.monkey-trigger:hover .monkey {
  display: block; }

.monkey {
  display: none;
  position: fixed;
  top: 100px;
  left: 300px;
  z-index: 10000000000000000; }

.monkey .hair:before,
.monkey .hair:after {
  content: "";
  position: absolute; }

.monkey .hair:before {
  width: 0;
  height: 0;
  border-left: 60px solid transparent;
  border-bottom: 60px solid #8e2800;
  left: 40px;
  margin-top: -10px; }

.monkey .hair:after {
  width: 0;
  height: 0;
  border-left: 60px solid transparent;
  border-bottom: 60px solid #8e2800;
  left: 60px;
  margin-top: -20px; }

.monkey .head {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background-color: #8e2800; }

.monkey .ear {
  position: absolute;
  top: 20px;
  content: "";
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: #8e2800; }

.monkey .ear.left {
  left: -40px; }

.monkey .ear.right {
  right: -40px; }

.monkey .ear.left:before,
.monkey .ear.right:before {
  position: absolute;
  content: "";
  top: 12px;
  width: 100px;
  height: 80px;
  border-radius: 80px;
  background-color: #b64926; }

.monkey .ear.left:before {
  left: 20px; }

.monkey .ear.right:before {
  right: 20px; }

.monkey .face {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background-color: #8e2800;
  z-index: 0; }

.monkey .face:before {
  position: absolute;
  content: "";
  top: 40px;
  left: 20px;
  width: 160px;
  height: 160px;
  border-radius: 80px;
  background-color: #b64926;
  z-index: 1; }

.monkey .eye {
  position: absolute;
  top: 60px;
  width: 64px;
  height: 64px;
  border-radius: 64px;
  background-color: #fff0a5;
  z-index: 4; }

.monkey .eye.left {
  left: 34px; }

.monkey .eye.right {
  right: 34px; }

.monkey .eye:before,
.monkey .eye:after {
  position: absolute;
  content: "";
  -webkit-animation: roll-eye 1s infinite linear normal;
  animation: roll-eye 1s infinite linear normal; }

.monkey .eye:before {
  top: 20px;
  left: 20px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: black; }

.monkey .eye:after {
  top: 22px;
  left: 30px;
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background-color: white; }

.monkey .eye.right:after,
.monkey .eye.right:before {
  -webkit-animation: roll-eye 1s infinite linear reverse;
  animation: roll-eye 1s infinite linear reverse; }

@-webkit-keyframes roll-eye {
  from {
    -webkit-transform: rotate(90deg) translate(-16px) rotate(90deg); }

  to {
    -webkit-transform: rotate(450deg) translate(-16px) rotate(-450deg); } }
@keyframes roll-eye {
  from {
    transform: rotate(90deg) translate(-16px) rotate(90deg); }

  to {
    transform: rotate(450deg) translate(-16px) rotate(-450deg); } }
.monkey .nose:before,
.monkey .nose:after {
  position: absolute;
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background-color: black;
  top: 130px;
  left: 94px;
  z-index: 4; }

.monkey .nose:after {
  left: 102px; }

.monkey .mouth {
  position: absolute;
  z-index: 3;
  top: 120px;
  left: -4px;
  background-color: #b64926;
  height: 120px;
  width: 208px;
  border-bottom-left-radius: 170px 88px;
  border-bottom-right-radius: 170px 88px;
  border-top-left-radius: 92px 88px;
  border-top-right-radius: 92px 88px; }

.monkey .mouth:before {
  position: absolute;
  content: "";
  top: 40px;
  left: 46px;
  width: 120px;
  height: 60px;
  background-color: #000000;
  border-bottom-left-radius: 170px;
  border-bottom-right-radius: 180px; }

.monkey .mouth:after {
  position: absolute;
  content: "";
  top: 64px;
  left: 66px;
  width: 80px;
  height: 40px;
  background-color: #b5292a;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  -webkit-animation: move-tongue 1s infinite alternate-reverse;
  animation: move-tongue 1s infinite alternate-reverse; }

@-webkit-keyframes move-tongue {
  from {
    top: 64px; }

  to {
    top: 70px; } }
@keyframes move-tongue {
  from {
    top: 64px; }

  to {
    top: 70px; } }
